**Import Spark**

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import (dayofmonth,hour,dayofyear,
                                   month,year,weekofyear,format_number,
                                   date_format)

**Start Spark**

In [2]:
spark = SparkSession.builder.appName('dates').getOrCreate()

**Load Data**

In [3]:
df = spark.read.csv('appl_stock.csv',inferSchema=True,header=True)

**Print schema**

In [4]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

**Show 2 collumns**

In [10]:
df.select(['Date','Open']).show(5)

+-------------------+----------+
|               Date|      Open|
+-------------------+----------+
|2010-01-04 00:00:00|213.429998|
|2010-01-05 00:00:00|214.599998|
|2010-01-06 00:00:00|214.379993|
|2010-01-07 00:00:00|    211.75|
|2010-01-08 00:00:00|210.299994|
+-------------------+----------+
only showing top 5 rows

**Apply function dayofmonth**

In [14]:
df.select(dayofmonth(df['Date'])).show(5)

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
+----------------+
only showing top 5 rows

**Apply function month**

In [15]:
df.select(month(df['Date'])).show(5)

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
+-----------+
only showing top 5 rows

**Create new collumn aplying function year**

In [5]:
new_df = df.withColumn('Year',year(df['Date']))
type (new_df)

pyspark.sql.dataframe.DataFrame

**Group df by year**

In [6]:
new_df.groupBy('Year').mean().show(5)

+----+------------------+------------------+------------------+------------------+-------------------+------------------+---------+
|Year|         avg(Open)|         avg(High)|          avg(Low)|        avg(Close)|        avg(Volume)|    avg(Adj Close)|avg(Year)|
+----+------------------+------------------+------------------+------------------+-------------------+------------------+---------+
|2015|120.17575393253965|121.24452385714291| 118.8630954325397|120.03999980555547| 5.18378869047619E7|115.96740080555561|   2015.0|
|2013| 473.1281355634922| 477.6389272301587|468.24710264682557| 472.6348802857143|         1.016087E8| 62.61798788492063|   2013.0|
|2014| 295.1426195357143|297.56103184523823| 292.9949599801587| 295.4023416507935|6.315273055555555E7| 87.63583323809523|   2014.0|
|2012|     576.652720788| 581.8254008040001| 569.9211606079999| 576.0497195640002|      1.319642044E8| 74.81383696800002|   2012.0|
|2016|104.50777772619044| 105.4271825436508|103.69027771825397|104.60400786904763| 3.84153623015873E7|103.15032854761901|   2016.0|
+----+------------------+------------------+------------------+------------------+-------------------+------------------+---------+
only showing top 5 rows

**Group df by year and combine with select**

In [9]:
results = new_df.groupBy('Year').mean().select(['Year', 'avg(Close)'])

**Renamed collumn**

In [11]:
results.show(2)

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2015|120.03999980555547|
|2013| 472.6348802857143|
+----+------------------+
only showing top 2 rows

In [12]:
new = results.withColumnRenamed('avg(Close)','Average Closing price')

In [15]:
new.show(5)

+----+---------------------+
|Year|Average Closing price|
+----+---------------------+
|2015|   120.03999980555547|
|2013|    472.6348802857143|
|2014|    295.4023416507935|
|2012|    576.0497195640002|
|2016|   104.60400786904763|
+----+---------------------+
only showing top 5 rows

**Format number**

In [23]:
new.select('Year',format_number(new['Average Closing price'],2)
           .alias('avg close')).show(5)

+----+---------+
|Year|avg close|
+----+---------+
|2015|   120.04|
|2013|   472.63|
|2014|   295.40|
|2012|   576.05|
|2016|   104.60|
+----+---------+
only showing top 5 rows